In [1]:
import collections

In [2]:
Scientist = collections.namedtuple('Scientist', [
    'name',
    'field',
    'born',
    'nobel',
])

In [3]:
Scientists = (
    Scientist(name='Ada Lovelace', field='math', born=1815, nobel=False),
    Scientist(name='Emmy Noether', field='math', born=1882, nobel=False),
    Scientist(name='Marie Curie', field='math', born=1867, nobel=True),
    Scientist(name='Tu Youyou', field='physics', born=1930, nobel=True),
    Scientist(name='Ada Yonath', field='chemistry', born=1939, nobel=True),
    Scientist(name='Vera Rubin', field='chemistry', born=1928, nobel=False),
    Scientist(name='Sally Ride', field='physics', born=1951, nobel=False),
)

In [4]:
names_and_ages = tuple(map(lambda x: {'name':x.name,'age':2020-x.born},Scientists))

In [5]:
names_and_ages

({'name': 'Ada Lovelace', 'age': 205},
 {'name': 'Emmy Noether', 'age': 138},
 {'name': 'Marie Curie', 'age': 153},
 {'name': 'Tu Youyou', 'age': 90},
 {'name': 'Ada Yonath', 'age': 81},
 {'name': 'Vera Rubin', 'age': 92},
 {'name': 'Sally Ride', 'age': 69})

In [6]:
tuple({'name':x.name,'age':2020-x.born} for x in Scientists)

({'name': 'Ada Lovelace', 'age': 205},
 {'name': 'Emmy Noether', 'age': 138},
 {'name': 'Marie Curie', 'age': 153},
 {'name': 'Tu Youyou', 'age': 90},
 {'name': 'Ada Yonath', 'age': 81},
 {'name': 'Vera Rubin', 'age': 92},
 {'name': 'Sally Ride', 'age': 69})

why use map???

In [7]:
# we can create a duplicate data and work on it during parallel processing. this enables us to protect original data from tampering